<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Annotate images</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="stylesheets/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="stylesheets/annotorious.css" />
    <script type="text/javascript" src="javascripts/annotorious.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <script src="javascripts/anno-server-plugin.js"></script>
    
    <script>   
        function triggerModal(img) {
            var modal = document.getElementById(img.id + '-modal');
            var modalImg = document.getElementById(img.id + '-content');
            var height = modalImg.offsetHeight
            var width = modalImg.offsetWidth
            anno.makeAnnotatable(modalImg)
            modal.style.display = "block";
            modalImg.src = img.src;
            modalImg.style.display = "block";
            var span = document.getElementsByClassName("close")[0]
            span.onclick = function() {
                modal.style.display = "none";
            }
        }

    	function readURL(input) {
    		if (input.files && input.files[0]) {
                file = input.files[0]
    			var reader = new FileReader();
				var url = window.URL.createObjectURL(file);
                window.localStorage.setItem('display', url)
                formData = new FormData();
                formData.append('photo', file, file.name);
                uploadFiles(formData)
    		}
    	}

        function changeImg(img) {
            $('#uploaded').attr('src', '/'+img);
            console.log($('uploaded').attr('src'))
        }

        function uploadFiles(formData) {
            $.ajax({
                url: '/upload',
                method: 'post',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    console.log('upload successful!');
                    changeImg(data);
                },
                error: (e) => {
                    console.log(e)
                }
            })
        }

        function downloadImg(input) {
            input.href = $("#uploaded").attr('src');
            console.log(input.href)
        }

        function saveServer(form) {
            var name = form.id.slice(0,4)
            console.log(name)
            input = document.getElementById(name)
            var annotations = anno.getAnnotations(input.src)
            annotation = form.children[0]
            annotation.value = JSON.stringify(annotations)
            img = form.children[1]
            img.value = name
        }


    </script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                	CITE Demo
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">Annotate</a>
                    </li>
                    <li>
                        <a href="/test">Test</a>
                    </li>
 
                    
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Content -->
    <div class="container" id="body-container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <center><h1 class="page-header">Annotate Images
                </h1>
                <p>For each image, select three areas using our annotator tool and write a description for each of the areas.
                    <br>Then, when you are done writing your annotation, click on the Save image to server button.</p>
                </center>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row top-buffer">
        <%function pad(n, width, z) { %>
          <% z = z || '0'; %>
          <% n = n + ''; %>
          <% return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n; %>
        <% }; %>

		<% var beginning = parseInt(beginning); %>
		<% var ending = parseInt(ending) %>
		<% for (var i =beginning; i <= ending; i++) { %>
			<div class ="col-sm-6">
                <% var name = pad(i,4); %>
                <% var src = "public/images/photos/" + name + ".jpg"; %>
                <% console.log(src); %>
                <img class="annotatable" id="<%= name %>" src="<%= src %>" style="width:100%; height: auto; margin:10px;"></>
                <center><h3>
                    <form id="<%= name %>-form" name="save" action="/save" method="post" onsubmit="saveServer(this)">
                        <input type="hidden" id="anno" name="annotation">
                        <input type="hidden" id="img" name="img">
                       <button style="margin-top:-20px;" class="btn btn-primary" type="submit">Save image to server</button>
                    </form>
                </h3></center>
            </div>
		<% } %> 
				
         
         

        
    </div>


    

    </div>
    <!-- /.container -->
	
	<footer>
		
        <div class="copyright">
        	<div class="container">
        		<p>Copyright &copy; Example.com 2015</p>
        	</div>
        </div>
	</footer>

	
    <!-- jQuery -->
    <script src="/javascripts/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>

